@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/* 字體顏色 */
$font-primary-color: #4c4f4f;
$font-secondary-color: #686d6d;
$font-dark-color: #525b59;
/* 主色系 */
$primary-color: #81c6c1 !default;
$secondary-color: #a9c9c6 !default;
$tertiary-color: #afe2d6 !default;
$dark-color: #0a493d;

$title-color: #7abcad;
$title-border: #afe2d6;
/* 背景色 */
$main-bg-color: #e1f4f0 !default;
$sub-bg-color: #f2ebd1 !default;

/**/
$basic-font-size: 14px;

* {
  font-family: "Noto Sans TC";
  position: relative;
  box-sizing: border-box;
  //border: solid 1px rgb(155, 76, 76);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 1.3px;
  line-height: 1.8rem;
}

section {
  width: 100%;
  margin-bottom: 5px;

  .title-block {
    text-align: center;
  }
}

.container {
  padding: 0 65px;

  @media screen and (max-width: 576px) {
    padding: 0 30px;
  }
}

#myself {
  display: flex;

  #icon-cmd {
    position: absolute;
    bottom: 30px;
    right: 40px;
  }

  .lef-block,
  .right-block {
    padding: 60px 0;
    box-shadow: 3px 3px 5px rgba(#4d5b58, 0.8);
  }

  .lef-block {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;

    .head-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      box-shadow: 5px 5px 7px 1px rgba($dark-color, 0.8);

      img {
        width: 100%;
        top: -20px;
      }
    }

    .profile-lsit {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 20px auto;
    }

    .icon-lsit {
      text-align: center;

      a {
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }

  .right-block {
    font-size: inherit;
    width: 75%;
    margin-left: -5%;
    padding-left: calc(10% + 30px);
    padding-right: calc(10% + 30px);
    padding-top: 70px;
    background-color: rgba($sub-bg-color, 0.2);

    p {
      color: $font-primary-color;
      line-height: 1.7em;
      letter-spacing: 2px;
    }
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;

    .lef-block,
    .right-block {
      width: 100%;
    }

    .lef-block {
      &::after {
        content: "";
        position: absolute;
        width: 20%;
        height: 100%;
        background-color: rgba($sub-bg-color, 0.2);
        top: 0;
        right: 0;
      }
    }

    .right-block {
      margin-left: 0;
      text-align: center;
    }
  }
}

.skill-block {
  padding: 60px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .skill-box {
    width: 25%;
    padding: 10px 30px;
    margin: 15px 5px;
  }

  .skill-content {
    margin-top: 25px;
    color: $font-secondary-color;
    // text-align: center;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;

    .skill-box {
      width: 100%;
    }
  }
}

.skill-img {
  width: 100%;
  text-align: center;

  img {
    width: 450px;
    height: 450px;

    @media screen and (max-width: 576px) {
      width: 90%;
    }
  }
}

.project-block {
  display: flex;
  flex-direction: column;

  .project-box {
    border: solid 10px $primary-color;
    padding: 60px 30px;
    margin: 0 60px 30px;
    display: flex;

    .img-block {
      width: 60%;
      margin-right: 5%;
      // padding-right: 20px;
      // display: inline-block;
      vertical-align: top;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 2;
        color: #fff;
        opacity: 0;

        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      img {
        width: 100%;
      }
    }

    .content-block {
      // vertical-align: top;
      // display: inline-block;
      width: 30%;
      padding-left: 40px;
      border-left: solid 2px $sub-bg-color;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;

    .project-box {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
      flex-direction: column;

      .img-block,
      .content-block {
        width: 100%;
      }

      .img-block {
        margin: 0;
        margin-bottom: 30px;
        padding: 20px 5px;
        border-bottom: 1px solid #ddd;
      }

      .content-block {
        border-left: none;
      }
    }
  }
}

@import "functions";
@import "component";
@import "colors";
@import "icons";
